# macOS system files
.DS_Store

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
android/app/build/
ios/Pods/
*.iml
.idea/
.vscode/
*.swp

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/
build/

# Android
*.apk
*.aar
.gradle/
local.properties

# Misc
.env